body{

    background-color: #faf5ef;

}
.conteiner{

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

/*header*/

.header-inner{

    background-color: black;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{

    color: white;

}
.main-left{

    width: 35%;
    height: 600px;

    background-color:gold;
    margin-top: -16px;
    float: left;
}
ul li{

    list-style-type: none;

    font-size: 24px;

    margin: 24px ;
}

/*main*/

.main-right{

    width: 65%;
    height: 600px;
    
    background-color:mediumslateblue;
    margin-top: -16px;
    float: right;
}
img{

    width: 750px;
    height: 350px;

}

.main-right-img{

    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.main-right-title{

    display: flex;
    justify-content: center;
    
}