.body{

    width: 780px;
    height: 600px;
    position: relative;
    left: 35%;
    bottom: 0px;
    background-color: antiquewhite;
    border-radius: 40px;

}
body{

    background-color:#ffb6c1 ;

}

div{

position: relative;
left: 50px;

}
